%table.class.table
  %thead.class.thead-dark
    %tr
      %th.scope.col #
      %th.scope.col Objetivo
      %th.scope.col Cumplido?
    
  
  %tbody
    %tr
      %th.scope.row 1
      %td Implementar todas las vistas en HAML
      %td.input.type.checkbox 
    
    %tr
      %th.scope.row 1
      %td Mantener el estilo
      %td.input{:type => "checkbox"}
    
    %tr
      %th.scope.row 2
      %td Crear un repositorio propio
      %td.input{type => "checkbox"}
    
    %tr
      %th.scope.row 3
      %td Hacer add, commit y push de los cambios
      %td.input{type => "checkbox"}
    
