<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Objetivo</th>
      <th scope="col">Cumplido?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Implementar todas las vistas en HAML</td>
      <td><input type="checkbox" /></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mantener el estilo</td>
      <td><input type="checkbox" /></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Crear un repositorio propio</td>
      <td><input type="checkbox" /></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Hacer add, commit y push de los cambios</td>
      <td><input type="checkbox" /></td>
    </tr>
  </tbody>
</table>