%form{action: "/contacto", method: "post"} 
  %div
    %p
      Nombre:
    
    %input.ml-2{type: "text", name: "nombre"}
  
  %div.pt-3
    %p
      Mensaje:
    
    %textarea.ml-2{name: "mensaje", rows: "4", cols: "50"}
  
  %input.mt-3{type: "submit", value: "Enviar"}
