%html
  %head
    %title Programacion 3 - HAML
    %link{href:"/css/bootstrap.min.css", rel:"stylesheet"}
  
  %body
    .container
      .header
        %ul.nav.nav-pills.justify-content-center
          %li.nav-item
            %a.nav-link{href: "/"}
              Inicio
            
          
          %li.nav-item
            %a.nav-link{href: "/consigna"}
              Consigna
            
          
          %li.nav-item
            %a.nav-link{href: "http://haml.info/docs/yardoc/file.REFERENCE.html"}
              Referencia de Haml
            
          
          %li.nav-item
            %a.nav-link{href: "/contacto"}
              Contacto
            
          
          %li.nav-item
            %a.nav-link{href: "/iterar"}
              Ejemplo de Iteracion
            

      .jumbotron
        .div
          = yield 
        


      %footer.text-center
        
        = "Copyleft #{@@year}"


      %script{src: "/js/bootstrap.min.js"}